<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Studio Vivah Pilates App
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="container">

        <ion-button routerLink="/frequencia" color="success" expand="full">Confirme sua Presença</ion-button>
        <ion-button color="tertiary" expand="full" >Ficha Técnica</ion-button>
        <ion-button color="tertiary" expand="full" >Exercícios</ion-button>
        <ion-button color="tertiary" expand="full" >Pagamento</ion-button>
        
      </div>
  
    </ion-content>


